*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: gray;
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.row{
    display: flex;
    justify-content: space-evenly;
}

.card{
    height: 200px;
    width: 270px;
    background-color: white;
    
}